<% include ../partials/header.ejs %>

    <style>
        /* .container:after{
            background-color: #f3f1f1;
        } */
    </style>

    <main>
            <article class="container view-area">
                <div class="row">
                    <div class="col-md-6">
                            <p>Currently I'm working on a Machine Learning AI that will scrape websites<br>
                                and Social Media for data related to the project and then intelligently<br>
                                sort through the data and push important information to app users </p>
                            </div>
                    <div class="col-md-6">
                        <img src="Assets/images/machine_learning.png" class="img-fluid">
                    </div>
                </div>
            </article>
            <div><br><br></div>

            <article class="container view-area">
                    <div class="row">
                            <div class="col-md-6">
                            <p>Worked in a team of 4 (Team Immortals) to create a whole game engine from scratch using createjs,
                                    we chose to do a Bullet Hell Shooter type game, and I have to mention how everyone agrees, this<br>
                                    project was even more interesting that we originally thought, <br>
                                    I Will definitely come back and issue a new release on this game <br><br>
            
                                    <a href="https://dragonicode.github.io/Galaxy-Hero-COMP397/">Link to the current live version</a>
                                </div>
                        <div class="col-md-6">
                            <img src="Assets/images/galaxy_hero.png" class="img-fluid">
                        </div>
                    </div>
                </article>

                <div><br><br></div>

                <article class="container view-area">
                        <div class="row">
                                <p>  During my time working at CIBC I had the oppurtunity to work on alot of Live Labs projects,
                                        while I can not disclose these I can mention that my team came out victorious in a 1 week
                                        innovation and presentation competition. Althought, unfortunately I couldn't be present in 
                                        the final moments, my trusted colleages brought home the gold for us </p>
                
                            <div class="row">
                                <img src="Assets/images/livelabs.png" class="img-fluid view-area">
                            </div>
                        </div>
                    </article>
    
        </main>

<% include ../partials/footer.ejs %>