<% include ./partials/header.ejs %>

    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">Welcome to My <%= title %></h1>
        <% if (title == "Home") {%>
          <br>
          <h5><i> Here we strive to continously improve;<br>
           Progress stops for no one</i> </h5>
          <br>
          <br>
          <a href="/about" >Let Me Tell You A Bit About Myself<a>
        <% } %>
        <% if (title == "Contact") {%>
          <a class = "btn btn-primary" href="/contact-list" role="button">Contact List</a>
        <% } %>
      </div>
    </div>

<% include ./partials/footer.ejs %>