<% include ../partials/header.ejs %>


<main>
    <div class="container">
        <table class="table table-hover table-borderless table-light services col-md-6">
            <tr>
                <th>Services</th>
            </tr>
            <tr>
                <td>
                    Managment
                </td>
                <td><i class="fas fa-tasks"></i></td>
            </tr>
            <tr>
                <td>
                    Programming
                </td>
                <td> <i class="fas fa-laptop-code"></i></td>
            </tr> 
            <tr>
                <td>
                    Game Design
                </td>
                <td><i class="fas fa-gamepad"></i></td> 
            </tr>
        </table>
    </div>
</main>

<% include ../partials/footer.ejs %>