<% include ../partials/header.ejs %>

<main>
    <article class="container" id="top">
        <div class="row">
            <div class="col-sm-4">
                <span class=""><img src="Assets/images/mugshotSnip.jpg" alt="" class="img-fluid rounded-circle" /></span>  <br><br>          
            </div>
            <div class="col-sm-8 speech-bubble">
                <header>
                    <h1> Profile</h1>
                </header>
                <p>Hi, my name is <strong>Gabriele Hunte</strong>, an aspiring developer and program manager. 
                    I believe you can have fun working when all team members are integrated into the project.
                    Thus increasing dedication and ownership of the project and it's schedule. </p> <br><br>
            </div>
            <div class>
                <br>
                <a href="#work" class="btn btn-lg btn-secondary btn-outline-light btn-outline-info">Check out some project samples </a>
            </div>
        </div>
    </article>

    <article class="container" id="work">
        <div class="container">

        </div>
    </article>

</main>




<% include ../partials/footer.ejs %>